{#
# -------------------------------------------------------------------------
# Centreon/i-Vertix Monitoring plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Centreon/i-Vertix Monitoring.
#
# Centreon/i-Vertix Monitoring is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# Centreon/i-Vertix Monitoring is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Centreon/i-Vertix Monitoring. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2022-2023 by Centreon plugin team.
# @copyright Copyright (C) 2025 by i-Vertix Monitoring plugin team.
# @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
# @link      https://github.com/pluginsGLPI/centreon
# @link      https://github.com/i-Vertix/glpi-i-vertix-monitoring
# -------------------------------------------------------------------------
#}

{% import "components/form/fields_macros.html.twig" as fields %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal-downtime">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form-set-downtime">
                <div class="modal-status bg-purple"></div>
                <div class="modal-header">
                    <h5 class="modal-title">{{ __('Set downtime', 'ivertixmonitoring') }}</h5>
                    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    <div class="row" id="downtime-time">
                        {{ fields.datetimeField('start_time', '', 'From') }}
                        {{ fields.datetimeField('end_time', '', 'To') }}
                    </div>
                    <div class="row align-items-center" style="min-height: 36px">
                        <div class="row col-auto">
                            <label class="form-check m-0">
                                <input type="hidden" name="is_fixed" value="false">
                                <input type="checkbox" class="form-check-input" id="downtime-is-fixed" name="is_fixed"
                                       value="true"
                                       checked/>
                                <span class="form-check-label">{{ __('fixed', 'ivertixmonitoring') }}</span>
                            </label>
                        </div>
                        <div class="row col-auto downtime-duration">
                            <label class="col-form-label col-auto"
                                   for="downtime-duration-value">{{ __('Duration', 'ivertixmonitoring') }}</label>
                            <input type="text" class="form-control col mx-1" autocomplete="off" name="duration_value"
                                   id="downtime-duration-value" placeholder="3600"/>
                        </div>
                        <div class="row col-auto downtime-duration">
                            <select class="form-select" id="downtime-duration-unit" name="duration_unit">
                                <option value="s">{{ __('seconds', 'ivertixmonitoring') }}</option>
                                <option value="m">{{ __('minutes', 'ivertixmonitoring') }}</option>
                                <option value="h">{{ __('hours', 'ivertixmonitoring') }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="form-label"
                               for="downtime-comment">{{ __('Comment', 'ivertixmonitoring') }}</label>
                        <textarea class="form-control" rows="3" id="downtime-comment"
                                  name="comment"></textarea>
                    </div>
                    <div class="my-3">
                        <label class="form-check">
                            <input type="hidden" name="with_services" value="false">
                            <input type="checkbox" class="form-check-input" id="downtime-with-services"
                                   name="with_services"
                                   value=true checked/>
                            <span class="form-check-label text-nowrap">{{ __('Set downtime on services attached to host', 'ivertixmonitoring') }}</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn" data-bs-dismiss="modal">
                                {{ __('Cancel') }}
                            </a>
                            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal" id="submit-downtime">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 5l0 14"/>
                                    <path d="M5 12l14 0"/>
                                </svg>
                                {{ __('Set downtime', 'ivertixmonitoring') }}
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    debugger;

    const resetDowntimeModal = () => {
        $("#form-set-downtime").trigger("reset");
        $('.downtime-duration').hide();
        $("#downtime-is-fixed").prop("checked", true);
        $("#downtime-with-services").prop("checked", true);
        $("#downtime-duration-value").val('');
        $("#downtime-duration-unit").val('s');
        $("#downtime-comment").val("{{ __('Downtime set by ', 'ivertixmonitoring') }}{{ user_name }}");
    }

    $('#downtime-is-fixed').click(function () {
        $('.downtime-duration').toggle();
    });

    $('#submit-downtime').click(function () {
        let textarea = $.trim($('#downtime-comment').val());
        if (textarea !== "") {
            $('#downtime-comment').val(textarea);
        }

        const params = $('#form-set-downtime').serializeArray();
        const data = {};
        $.each(params, function () {
            let val = this.value;
            if (this.name.includes('time')) {
                const date = new Date(this.value);
                val = date.toISOString();
            }
            data[this.name] = val;
        });
        $.ajax({
            "type": 'POST',
            "url": CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.ivertixmonitoring
                + "/ajax/setDowntime.php?itemtype={{ itemtype }}&item_id={{ item_id }}",
            "data": data,
            "success": function (result) {
                glpi_toast_info("{{ __('It may take some time for the downtime to appear', 'ivertixmonitoring') }}", "{{ __('Downtime set', 'ivertixmonitoring') }}");
            },
            "error": function (result) {
                glpi_toast_error("{{ __('Failed to set the downtime', 'ivertixmonitoring') }}");
            }
        });
    });

    $(document).on('submit', '#form-set-downtime', function (event) {
        event.preventDefault();
    });

</script>
