{#
# -------------------------------------------------------------------------
# Centreon/i-Vertix Monitoring plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Centreon/i-Vertix Monitoring.
#
# Centreon/i-Vertix Monitoring is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# Centreon/i-Vertix Monitoring is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Centreon/i-Vertix Monitoring. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2022-2023 by Centreon plugin team.
# @copyright Copyright (C) 2025 by i-Vertix Monitoring plugin team.
# @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
# @link      https://github.com/pluginsGLPI/centreon
# @link      https://github.com/i-Vertix/glpi-i-vertix-monitoring
# -------------------------------------------------------------------------
#}

<div class="d-flex flew-row align-items-center py-3 ps-2">
    <h1 class="pe-3 m-0">Host Information</h1>
    <img class="h-4 d-inline-block" alt="i-vertix monitoring" src="{{ logo }}"/>
    <button type="button" class="btn ms-4 me-1 toggle" id="check">
        <i class="ti ti-refresh"></i>
        <span>{{ __('Check', 'ivertixmonitoring') }}</span>
    </button>
    <button type="button" class="btn" id="downtime">
        <i class="ti ti-clock-pause"></i>
        <span>{{ __('Downtime', 'ivertixmonitoring') }}</span>
    </button>
</div>
<h2 class="p-2 m-0">General</h2>

{% include '@ivertixmonitoring/downtimeModal.html.twig' %}
{% include '@ivertixmonitoring/ackModal.html.twig' %}

<div class="datagrid container text-center my-2">
    <div class="row">
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("Status") }}</div>
                <div class="datagrid-content mt-2">
                    {% if host.status == 'UP' %}
                        <span class="status status-green">
                        {{ host.status }}
                        </span>
                    {% elseif host.status == 'DOWN' %}
                        <span class="status status-red">
                            {{ host.status }}
                        </span>
                        <button type="button" class="btn mt-1" id="ack">
                            <i class="ti ti-user"></i>
                            <span>{{ __('Acknowledge', 'ivertixmonitoring') }}</span>
                        </button>
                    {% else %}
                        <span class="status status-orange">
                        {{ host.status }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("Name") }}</div>
                <div class="datagrid-content mt-2">{{ host.name }}</div>
            </div>
        </div>
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("Alias") }}</div>
                <div class="datagrid-content mt-2">{{ host.alias }}</div>
            </div>
        </div>
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("FQDN") }}</div>
                <div class="datagrid-content mt-2">{{ host.fqdn }}</div>
            </div>
        </div>
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("Last check") }}</div>
                <div class="datagrid-content mt-2">{{ host.last_check }}</div>
            </div>
        </div>
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("Next check") }}</div>
                <div class="datagrid-content mt-2">{{ host.next_check }}</div>
            </div>
        </div>
        <div class="col">
            <div class="datagrid-item">
                <div class="datagrid-title fw-bold">{{ __("Check period") }}</div>
                <div class="datagrid-content mt-2">{{ host.check_period }}</div>
            </div>
        </div>
    </div>
</div>

{% if host.in_downtime == true %}
    <div class="row row-deck p-2 mb-2">
        {% for downtime in host["downtimes"] %}
            <div class="col-md-4">
                <div class="card mt-3" style="max-height: 200px;">
                    <div class="card-status-start bg-red"></div>
                    <div class="card-body">
                        <h3 class="card-title m-0 text-truncate">{{ __('Host in downtime', 'ivertixmonitoring') }}</h3>
                        <div>{{ __('From : ', 'ivertixmonitoring') }}{{ host.downtimes.0.start_time }}</div>
                        <div>{{ __('To : ', 'ivertixmonitoring') }}{{ host.downtimes.0.end_time }}</div>
                        <div>{{ __('Author name : ', 'ivertixmonitoring') }}{{ host.downtimes.0.author_name }}</div>
                        <div>{{ __('Comment : ', 'ivertixmonitoring') }}{{ host.downtimes.0.comment }}</div>
                        <button class="btn mt-2"
                                id="cancel_downtime_{{ downtime.id }}">{{ __('Cancel', 'ivertixmonitoring') }}</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="card border-0">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
            <li class="nav-item">
                <a href="#tabs-services-ex1" class="nav-link active" data-bs-toggle="tab">{{ __("Services") }}</a>
            </li>
            <li class="nav-item">
                <a href="#tabs-historique-ex1" class="nav-link" data-bs-toggle="tab">{{ __("Timeline") }}</a>
            </li>
        </ul>
    </div>
</div>

<div class="card-body">
    <div class="tab-content">
        <div class="tab-pane active show" id="tabs-services-ex1">
            <div class="d-flex flew-row align-items-center p-2 mt-3">
                <h2 class="pe-3 m-0">{{ __("Services") }}</h2>
                {% set count_ok = 0 %}
                {% set count_w = 0 %}
                {% set count_d = 0 %}
                {% set count_un = 0 %}
                {% for service in host["services"] %}
                    {% if service.status.name == "OK" %}
                        {% set count_ok = count_ok + 1 %}
                    {% elseif service.status.name == "WARNING" %}
                        {% set count_w = count_w + 1 %}
                    {% elseif service.status.name == "CRITICAL" %}
                        {% set count_d = count_d + 1 %}
                    {% else %}
                        {% set count_un = count_un + 1 %}
                    {% endif %}
                {% endfor %}
                <div class="d-flex align-items-center">
                        <span class="badge bg-teal m-1" title="OK" data-bs-toggle="tooltip"
                              data-bs-placement="top">{{ count_ok }}</span>
                    <span class="badge bg-orange m-1" title="WARNING" data-bs-toggle="tooltip"
                          data-bs-placement="top">{{ count_w }}</span>
                    <span class="badge bg-red m-1" title="CRITICAL" data-bs-toggle="tooltip"
                          data-bs-placement="top">{{ count_d }}</span>
                    <span class="badge bg-grey m-1" title="UNKNOWN" data-bs-toggle="tooltip"
                          data-bs-placement="top">{{ count_un }}</span>
                </div>
            </div>

            <div class="row row-deck p-2 mb-2">
                {% for service in host["services"] %}
                    {% set color = (service.status.name == "OK") ? "green" : (service.status.name == "WARNING") ? "orange" : (service.status.name == "CRITICAL") ? "red" : (service.status.name == "UNKNOWN") ? "grey" : "blue" %}
                    {% set bgcolor = (service.status.name == "OK") ? "green" : (service.status.name == "WARNING") ? "orange" : (service.status.name == "CRITICAL") ? "red" : (service.status.name == "UNKNOWN") ? "secondary" : "blue" %}
                    <div class="col-md-4">
                        <div class="card mt-3" style="max-height: 200px;">
                            <div class="card-status-start bg-{{ bgcolor }}"></div>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="status status-{{ color }}">{{ service.status.name }}</span>
                                    <h3 class="card-title m-0 px-2 text-truncate">{{ service["display_name"] }}</h3>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <code class="m-0 mt-3"> {{ service["output"] }} </code>
                                    <code class="text-nowrap m-0 mt-3 ms-2"> {{ service["duration"] }} </code>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane" id="tabs-historique-ex1">
            {% include '@ivertixmonitoring/hosttimeline.html.twig' %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#check').click(function () {
            $('.toggle').toggleClass('d-none');
            $.post(CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.ivertixmonitoring + "/ajax/sendCheck.php?hostid=" + {{ hostid }}, function (response) {
                reloadTab('');
                $('#check').addClass('btn-lime');
                $('.toggle').toggleClass('d-none');
            });
        });
        $('#downtime').click(function () {
            $('#duration_select').hide();
            $('#dialog').modal('show');
        });
        $('#is_fixed').click(function () {
            $('#duration_select').toggle();
        });
        $('#submit').click(function () {
            var textarea = $.trim($('#comment').val());
            if (textarea != "") {
                $('#comment').val(textarea);
            }

            var params = $('#setdowntime').serializeArray();
            var flatparams = {};
            $.each(params, function () {
                if (this.name.includes('time')) {
                    var date = new Date(this.value);
                    this.value = date.toISOString();
                }
                flatparams[this.name] = this.value;
            });
            $.ajax({
                "type": 'POST',
                "url": CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.ivertixmonitoring + "/ajax/setDowntime.php",
                "data": {
                    "hostid": {{ hostid }},
                    "params": flatparams
                },
                "success": function (result) {
                    console.log('downtime envoyé');
                    reloadTab('');
                }
            });
        });
        $('#ack').click(function () {
            $('#ack_modal').modal('show');
        });
        $('#ack_ok').click(function () {
            var params = $('#ack_form').serializeArray();
            var flatparams = {};
            $.each(params, function () {
                flatparams[this.name] = this.value;
            });
            console.log(params);
            $.ajax({
                "type": 'POST',
                "url": CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.ivertixmonitoring + "/ajax/ack.php",
                "data": {
                    "hostid": {{ hostid }},
                    "params": flatparams
                },
                "success": function (data) {
                    reloadTab('');
                    console.log('acknowledge ok');
                    console.log(data);
                }
            });
        });

        {% for downtime in host["downtimes"] %}
        $('#cancel_downtime_{{ downtime.id }}').click(function () {
            console.log("dican");
            $.ajax({
                "type": 'POST',
                "url": CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.ivertixmonitoring + "/ajax/cancelDowntime.php",
                "data": {
                    "item_id": {{ item_id }},
                    "itemtype": "{{ itemtype }}",
                    "downtime_id": {{ downtime.id }}
                },
                "success": function (data) {
                    glpi_toast_info("{{ __('It may take some time for the downtime to disappear', 'ivertixmonitoring') }}", "{{ __('Downtime canceled', 'ivertixmonitoring') }}");
                }
            });
        });
        {% endfor %}

        $(document).on('submit', '#setdowntime', function (event) {
            event.preventDefault();
        });
    });
</script>
