{#
# -------------------------------------------------------------------------
# Centreon/i-Vertix Monitoring plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Centreon/i-Vertix Monitoring.
#
# Centreon/i-Vertix Monitoring is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# Centreon/i-Vertix Monitoring is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Centreon/i-Vertix Monitoring. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2022-2023 by Centreon plugin team.
# @copyright Copyright (C) 2025 by i-Vertix Monitoring plugin team.
# @license   GPLv3 https://www.gnu.org/licenses/gpl-3.0.html
# @link      https://github.com/pluginsGLPI/centreon
# @link      https://github.com/i-Vertix/glpi-i-vertix-monitoring
# -------------------------------------------------------------------------
#}

<script>
    const onHostChange = (e) => {
        const selected = $(`#${e.currentTarget.id}`).select2('data')[0]?.id;
        // link host using ajax post
        $.ajax({
            "type": 'POST',
            "url": CFG_GLPI['root_doc'] + "/" + GLPI_PLUGINS_PATH.ivertixmonitoring + "/ajax/linkSingleHost.php",
            "data": {
                "host_id": selected ?? "",
                "itemtype": "{{ itemtype }}",
                "item_id": {{ item_id }}
            },
            "success": function (result) {
                console.log('item linked to host:', result);
                $(`#${e.currentTarget.id}`).select2('close');
                reloadTab();
            },
            "error": function (result) {
                console.log('linking failed:', result);
                $(`#${e.currentTarget.id}`).select2('close');
                reloadTab();
            }
        });
    }
</script>

<div class="d-flex flew-row align-items-center py-3 ps-2">
    <label class="form-label pe-3 m-0" for="{{ host_dropdown_id }}">{{ __('Linekd host', 'ivertixmonitoring') }}</label>
    {{ host_dropdown|raw }}
</div>
